body{
  margin: 0;
  font-size: 17px;
}
/* header section*/


header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
}

header nav {
  display: inline-block;
  margin-right: 40px;

}

.nav-link{
  margin: 0 15px;
}

.nav-link a{
  color: black;
}

header h1 {
  margin-left: 15px;
  font-size: 14px;
}

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

/* main container section */

.main {
  display: flex;
  width: 100%;
  padding-top: 120px;
  justify-content: space-around;
  width: 1250px;
  margin: 0 auto;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.img {
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Large column style section */
.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.champagne{
  background-image: url("../images/champagne.png");
}

.girl {
  background-image: url("../images/girl.png");
}

.photographer {
  background-image: url("../images/photographer.png");
}

.main_story{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sub_story{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.main_story .headline {
  margin-left: 20px;
  font-size: 40px;
}

.main h2 {
  font-size: 30px;
  margin: 0px;
}

/* Medium column style section */
.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.cat {
  background-image: url("../images/cat.png");
}


/* Small column style section */
.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;

}

.news_bites h3 {
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.news_bites .link {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 11px 20px;

}

/* Footer section */

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 78px;
}

.footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 1px solid white;
  padding-right: 25px;
}

.footer-nav {
  display: inline-flex;
}
