body{
  margin: 0;
}
/* header section*/


header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid black;
  width: 100%;
  posi tion: fixed;
  z-index: 5;
}

header nav {
  display: inline-block;
  margin-right: 40px;

}
header nav span{
  margin: 0 15px;
}

header nav span a{
  color: black;
}

header h1 {
  margin-left: 15px;
  font-size: 14px;
}

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

/* main container section */

.main {
  display: flex;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.champagne{
  background-image: url("../images/champagne.png");
}

.girl {
  background-image: url("../images/girl.png");
}

.cat {
  background-image: url("../images/cat.png");
}

.photographer {
  background-image: url("../images/photographer.png");
}

.img {
  height: 300px;
  background-size: cover;
}

.main_story{
  display: flex;
  flex-direction: column;
}

.substory {
  display: flex;
  flex-direction: column;
}
